<nb-card style="width:500px;">
    <nb-card-header>
        {{this.l("Pages.Cities.ManageCity")}}
        <div class=" float-right">
            <a class="btn btn-icon" (click)="cancel()"><nb-icon [icon]="'close'" pack="eva"></nb-icon></a>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="cityForm">
            <div class="form-group">
                <label for="nameAr" class="label">{{this.l("Common.NameAr")}}</label>
                <input type="text" nbInput fullWidth #nameAr placeholder='{{this.l("Common.NameAr")}}' [value]="cityNameAr" [formControl]="cityForm.controls['nameAr']" [status]="!(cityForm.controls.nameAr?.dirty && cityForm.controls.nameAr?.invalid) ? '' : 'danger'" (keypress)="checkArabicChar($event)" (change)="cityNameAr = $event.target.value" required />
                <small [hidden]="!(cityForm.controls.nameAr?.dirty && cityForm.controls.nameAr?.invalid)" class="text-danger">
                    {{this.l("Common.NameArRequired") }}
                </small>
            </div>
            <div class="form-group">
                <label for="nameEn" class="label">{{this.l("Common.NameEn")}}</label>
                <input type="text" nbInput fullWidth #nameEn placeholder='{{this.l("Common.NameEn")}}' [value]="cityNameEn" [formControl]="cityForm.controls['nameEn']" [status]="!(cityForm.controls.nameEn?.dirty && cityForm.controls.nameEn?.invalid) ? '' : 'danger'" (keypress)="checkEnglishChar($event)" (change)="cityNameEn = $event.target.value" required />
                <small [hidden]="!(cityForm.controls.nameEn?.dirty && cityForm.controls.nameEn?.invalid)" class="text-danger">
                    {{this.l("Common.NameEnRequired") }}
                </small>
            </div>
            <div class="form-group">
                <label for="countryId" class="label">{{this.l("Common.Country")}}</label>
                <ng-multiselect-dropdown [placeholder]="l('Common.Select')"
                                         [settings]="dropdownSettingsCountry"
                                         class="col-xl-8 col-sm-5" style="padding:0;"
                                         [data]="countries"
                                         [(ngModel)]="selectCountry"
                                         (onSelect)="getGovernorates(selectCountry[0].id)"
                                         (onDeSelect)="getGovernorates(0)"
                                         [formControl]="cityForm.controls['countryId']">
                </ng-multiselect-dropdown>
            </div>
            <div class="form-group">
                <label for="governorateId" class="label">{{this.l("Common.Governorate")}}</label>
                <ng-multiselect-dropdown [placeholder]="l('Common.Select')"
                                         [settings]="dropdownSettings"
                                         class="col-xl-8 col-sm-5" style="padding:0;"
                                         [data]="governorates"
                                         [(ngModel)]="selectGovernorate"
                                         [formControl]="cityForm.controls['governorateId']">
                </ng-multiselect-dropdown>
                <!--<div *ngIf="submitflag==true" class="text text-danger">
                    {{l('Common.Error.Required')}}
                </div>-->
            </div>
            <button class="cancel" nbButton status="danger" (click)="cancel()">{{this.l("Common.Cancel") }}</button>
            <button nbButton status="success" [disabled]="cityForm.invalid" (click)="submit(nameAr.value,nameEn.value,selectGovernorate[0].id)">{{this.l("Common.Save") }}</button>
        </form>
    </nb-card-body>
</nb-card>