:host {
    width: 100%;

    .login-form.login-forgot {
        width: 100%;
        max-width: 530px;
        margin: auto;
        text-align: center;
        padding: 3%;
    }

    .login-form.login-forgot button#kt_login_forgot_submit {
        padding: 6px 20px !important;
    }
    /* .authentication-box.forgetpassword {
        background-image: url(food.png);
        background-size: cover;
    }
*/
    .authentication-box.forgetpassword .login-form.login-forgot {
        background-color: #ffffffba;
        border-radius: 15px;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.17);
    }

    .login-form.login-forgot .form-group.d-flex.flex-wrap.pb-lg-0 {
        margin: auto;
        text-align: center;
        display: block !important;
    }

    @media (min-width: 992px) {
        .login-form {
            width: 100%;
            max-width: 450px;

            .mat-form-field {
                width: 100%;
            }
        }
    }
}
