<div class="card card-custom example example-compact gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">{{ this.l("Pages.Points.Title") }}</h3>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <div class="col-xl-12">
            <div class="col-xl-12">
                <form class="form" [formGroup]="pointsForm" novalidate="novalidate" id="kt_contact_form" (ngSubmit)="submit()">
                    <ng-container *ngIf="hasError">
                        <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                            <div class="alert-text">{{ this.l("Pages.Contact.IncorrectDetails") }}</div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <!--<mat-form-field>-->
                            <label>{{ this.l('Common.Money') }}</label>
                            <input class="form-control"
                                   placeholder="{{ this.l('Common.Money') }}" matInput
                                   type="number"
                                   name="money"
                                   (keypress)="checkNumber($event)"
                                   formControlName="money"
                                   autocomplete="off"
                                   [ngClass]="{ 'is-invalid': pointsForm.controls['money'].invalid }"
                                   [(ngModel)]="money.nameEn" />
                            <!--</mat-form-field>-->
                            <ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'minLength',
                                message:this.l('Common.NameArMinLength'),
                                control: pointsForm.controls['money']
                                }"></ng-container>
                            <ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'maxLength',
                                message:this.l('Common.NameArMaxLength'),
                                control: pointsForm.controls['money']
                                }"></ng-container>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <!--<mat-form-field>-->
                            <label>{{ this.l('Common.Points') }}</label>
                            <input class="form-control"
                                   placeholder="{{ this.l('Common.Points') }}" matInput
                                   type="number"
                                   name="points"
                                   formControlName="points"
                                   (keypress)="checkEnglishCharNumSympol($event)"
                                   autocomplete="off"
                                   [ngClass]="{ 'is-invalid': pointsForm.controls['points'].invalid }"
                                   [(ngModel)]="points.nameEn" />
                            <!--</mat-form-field>-->
                            <ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'minLength',
                                message:this.l('Common.NameArMinLength'),
                                control: pointsForm.controls['points']
                                }"></ng-container>
                            <ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'maxLength',
                                message:this.l('Common.NameArMaxLength'),
                                control: pointsForm.controls['points']
                                }"></ng-container>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">-->
                            <!--<mat-form-field>-->
                            <!--<label>{{ this.l('Common.EnglishAddress') }}</label>
                            <input class="form-control"
                                   placeholder="{{ this.l('Common.EnglishAddress') }}" matInput
                                   type="text"
                                   name="addressEn"
                                   (keypress)="checkEnglishCharNumSympol($event)"
                                   formControlName="addressEn"
                                   autocomplete="off"
                                   [ngClass]="{ 'is-invalid': contactForm.controls['addressEn'].invalid }"
                                   [(ngModel)]="address.nameEn" />-->
                            <!--</mat-form-field>-->
                            <!--<ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'minLength',
                                message:this.l('Common.NameEnMinLength'),
                                control: contactForm.controls['addressEn']
                                }"></ng-container>
                            <ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'maxLength',
                                message:this.l('Common.NameEnMaxLength'),
                                control: contactForm.controls['addressEn']
                                }"></ng-container>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">-->
                            <!--<mat-form-field>-->
                            <!--<label>{{ this.l('Common.ArabicAddress') }}</label>
                            <input class="form-control"
                                   placeholder="{{ this.l('Common.ArabicAddress') }}" matInput
                                   type="text"
                                   name="addressAr"
                                   (keypress)="checkArabicCharNumSympol($event)"
                                   formControlName="addressAr"
                                   autocomplete="off"
                                   [ngClass]="{ 'is-invalid': contactForm.controls['addressAr'].invalid }"
                                   [(ngModel)]="address.nameAr" />-->
                            <!--</mat-form-field>-->
                            <!--<ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'minLength',
                                message:this.l('Common.NameArMinLength'),
                                control: contactForm.controls['addressAr']
                                }"></ng-container>
                            <ng-container [ngTemplateOutlet]="formError"
                                          [ngTemplateOutletContext]="{
                                validation: 'maxLength',
                                message:this.l('Common.NameArMaxLength'),
                                control: contactForm.controls['addressAr']
                                }"></ng-container>
                        </div>
                    </div>-->
                    <!--<div class="form-group">
                        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="15" style="width: 100%;height: 300px;margin-bottom: 30px;">
                            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                        </agm-map>
                    </div>-->
                    <div class="pb-lg-0 pb-5">
                        <button mat-button
                                type="submit"
                                id="kt_contact_submit"
                                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-2 "
                                [disabled]="pointsForm.invalid" *ngIf="isGranted('Write.Permission.Points')"> 
                            {{ this.l("Common.Save") }}
                        </button>
                        <ng-container *ngIf="isLoading$ | async">
                            <span class="spinner spinner-primary ml-5"></span>
                        </ng-container>
                        <br />
                    </div>
                </form>
            </div>
        </div>

        <ng-template #formError let-control="control" let-message="message" let-validation="validation">
            <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
                <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                        {{ message }}
                    </div>
                </div>
            </ng-container>
        </ng-template>

    </div>
</div>