<!--
    <ul  class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="ads-tab" data-toggle="tab" href="#ads" role="tab" aria-controls="ads" aria-expanded="true">{{ this.l("Pages.Advertisements")}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="update-tab" data-toggle="tab" href="#updateRequests" role="tab" aria-controls="credit">{{ this.l("Pages.UpdateRequests")}}</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="ads" role="tabpanel" aria-labelledby="ads-tab">
        <app-allAds></app-allAds>
    </div>
    <div class="tab-pane fade" id="updateRequests" role="tabpanel" aria-labelledby="update-tab">
 
        <h1>Credit</h1>
    
    </div>
</div>
-->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs profile_tab">
                <li class="nav-item" *ngFor="let link of navLinks">
                    
                    <a class="nav-link {{link.active ? 'active' : ''}}" href="javascript:;" (click)="getactive(link)"><span>{{ link.label | uppercase }}</span></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>